asgiref
certifi
click
colorama
crispy-bootstrap5
crispy-tailwind
cssbeautifier
distlib
Django
django-crispy-forms
django-environ
djlint
EditorConfig
filelock
html-tag-names
html-void-elements
jsbeautifier
json5
pathspec
pillow
pipenv
platformdirs
psycopg2
PyYAML
regex
setuptools
six
sqlparse
tqdm
tzdata
virtualenv