{% extends 'base.html' %}
{% block content %}
    <div class="grid grid-cols-3 gap-4">
        <div></div>
        <div class="py-2 px-3 rounded-xl bg-white mt-12">
            <h1 class="font-bold text-3xl text-center pb-5 shadow-md">Change Password</h1>
            <div class="w-full mt-10">
                <form method="post"
                      class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4">
                    {% csrf_token %}
                    <div class="w-full mx-auto">
                        <label class="block uppercase text-gray-700 font-bold mb-2"
                               for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                        {{ form.old_password }}
                    </div>
                    <div class="w-full mx-auto">
                        <label class="block uppercase text-gray-700 font-bold mb-2"
                               for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="w-full mx-auto">
                        <label class="block uppercase text-gray-700 font-bold mb-2"
                               for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="flex items-center mt-4 justify-center w-full">
                        <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
