<div style="font-family: Arial, sans-serif; width: 80%; margin: auto;">
    <h3 style="font-size: 20px; color: #333;">Hello {{ user.first_name }} {{ user.last_name }}</h3>
    <p style="font-size: 16px; color: #555;">
        We're sending you this email to confirm that your password has been successfully changed. If you did not request this change, please contact our support team immediately.
    </p>
    <p style="font-size: 16px; color: #555;">Thanks for using our service</p>
    <p style="font-size: 16px; color: #555;">AMAR Bank</p>
</div>
