<div style="font-family: Arial, sans-serif; width: 80%; margin: auto;">
    <h3 style="font-size: 20px; color: #333;">Hello {{ user.first_name }} {{ user.last_name }}</h3>
    <p style="font-size: 16px; color: #555;">
        You have received a transfer of ${{ amount }} from {{ account_number }}. Your new account balance is ${{ user.account.balance }}.
    </p>
    <p style="font-size: 16px; color: #555;">Thanks for banking with us</p>
    <p style="font-size: 16px; color: #555;">Your Bank</p>
</div>
